<table>
    <tr>
        <td><%= link_to 'Students', students_path %></td>
        <td><%= link_to 'Semesters', semesters_path %></td>
        <td><%= link_to 'Sections', sections_path %></td>
        <td><%= link_to 'Professors', professors_path %></td>
        <td><%= link_to 'Departments', departments_path %></td>
        <td><%= link_to 'Courses', courses_path %></td>
    </tr>
</table>
